body {
  margin: 0;
  font-size: 20px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
#root {
  height: 100%;
  --color-primary: 255, 191, 0;
  --color-text: 25, 1, 52;
  /* TODO 3: color themeing, this looks like it has some reasonbly simple solutions start https://dev.to/felixtellmann/how-to-add-color-themes-in-reactjs-pn1*/
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
